In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv('Social_Network_Ads .csv')

In [3]:
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [4]:
x=df.drop('Purchased',axis=1)

In [5]:
y=df['Purchased']

In [6]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [9]:
sc=StandardScaler()
x_train_scaled = sc.fit_transform(x_train)
x_test_scaled = sc.transform(x_test)

In [ ]:
model = SVC(kernel='linear')

In [15]:
from sklearn.model_selection import GridSearchCV
para_grid = {'C':[0.001,0.01,0.1,0.5,1],'gamma':[0.1,'scale','auto']}

In [18]:
grid = GridSearchCV(model,para_grid)
grid.best_params_

AttributeError: 'GridSearchCV' object has no attribute 'best_params_'

In [31]:
model = SVC(kernel='rbf',C=0.01,gamma='scale')

In [32]:
model.fit(x_train_scaled,y_train)

SVC(C=0.01)

In [33]:
y_test_pred = model.predict(x_test)

y_train_pred = model.predict(x_train)

In [34]:
print('test accuracy',accuracy_score(y_test,y_test_pred))

print('train accuracy',accuracy_score(y_train,y_train_pred))

test accuracy 0.65
train accuracy 0.640625

In [35]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [40]:
cm = confusion_matrix(y_test,y_test_pred)
print(cm)
accuracy_score(y_test,y_test_pred)

[[52  0]
 [28  0]]

0.65