<a href="https://colab.research.google.com/github/Fasiloc/Machine_Learning_learn-repo/blob/main/Classes/Day_50_Kfold_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from numpy import mean
from sklearn.svm import SVC
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score

In [ ]:
df = pd.read_csv('bill_authentication.csv')

In [ ]:
df

      Variance  Skewness  Curtosis  Entropy  Class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [ ]:
df['Class'].value_counts()

0    762
1    610
Name: Class, dtype: int64

In [ ]:
x = df.drop(['Class'], axis=1)
y = df['Class']

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
sc = StandardScaler()

scaler = sc.fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [ ]:
cv = KFold(n_splits=10, random_state=1, shuffle=True)
clf = SVC(kernel = 'linear')
scores = cross_val_score(clf, x_train_scaled,y_train,scoring='accuracy',cv=cv,n_jobs=1) # scoring = recall,precision , f1

In [ ]:
print('Accuracy: %.1f'%(mean(scores)*100))

Accuracy: 98.6

In [ ]:
scores = cross_val_score(clf, x_train_scaled,y_train,scoring='recall',cv=cv,n_jobs=1)
print('Recall: %.3f'%(mean(scores)))

Recall: 1.000

In [ ]:
scores = cross_val_score(clf, x_train_scaled,y_train,scoring='precision',cv=cv,n_jobs=1)
print('Precision: %.3f'%(mean(scores)))

Precision: 0.970

In [ ]:
scores = cross_val_score(clf, x_train_scaled,y_train,scoring='f1',cv=cv,n_jobs=1)
print('F1 scores: %.3f'%(mean(scores)))

F1 scores: 0.985

# Program 2

In [ ]:
import pandas as pd
from numpy import mean
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split,KFold,cross_val_score
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_csv('winequality.csv')

In [ ]:
df=df.dropna(axis=1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   object
 1   free sulfur dioxide   6497 non-null   float64
 2   total sulfur dioxide  6497 non-null   float64
 3   density               6497 non-null   float64
 4   alcohol               6497 non-null   float64
 5   quality               6497 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 304.7+ KB

In [ ]:
df['type'].value_counts()

white    4898
red      1599
Name: type, dtype: int64

In [ ]:
x = df.drop(['type'],axis=1)
y = df['type']

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
y = le.fit_transform(y)

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
sc = StandardScaler()

scaler = sc.fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [ ]:
cv = KFold(n_splits=10,random_state=1,shuffle=True)
clf = SVC(kernel='linear')

In [ ]:
scores = cross_val_score(clf,x_train_scaled,y_train,scoring='accuracy',cv=cv,n_jobs=1)

In [ ]:
print('Accuracy: %.1f'%(mean(scores)*100))

Accuracy: 96.2

In [ ]:
scores = cross_val_score(clf, x_train_scaled,y_train,scoring='recall',cv=cv,n_jobs=1)
print('Recall: %.3f'%(mean(scores)))

Recall: 0.986

In [ ]:
scores = cross_val_score(clf, x_train_scaled,y_train,scoring='precision',cv=cv,n_jobs=1)
print('Precision: %.3f'%(mean(scores)))

Precision: 0.965

In [ ]:
scores = cross_val_score(clf, x_train_scaled,y_train,scoring='f1',cv=cv,n_jobs=1)
print('F1 scores: %.3f'%(mean(scores)))

F1 scores: 0.975

# Program 3

In [ ]:
import pandas as pd
from numpy import mean
from sklearn.model_selection import train_test_split,KFold,cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

In [ ]:
df = pd.read_csv('creditcard.csv')

In [ ]:
df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [ ]:
df.shape

(284807, 31)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [ ]:
x = df.drop(['Class'],axis=1)
y = df['Class']

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
sc = StandardScaler()

scaler = sc.fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [ ]:
cv = KFold(n_splits=10,random_state=1,shuffle=True)
clf = SVC(kernel='linear')
scores = cross_val_score(clf,x_train_scaled,y_train,scoring='accuracy',cv=cv,n_jobs=1,verbose=1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

In [ ]:
print('Accuracy : %1f'%(mean(scores)*100))

In [ ]:
scores = cross_val_score(clf,x_train_scaled,y_train,scoring='recall',cv=cv,n_jobs=1)
print('Recall : %3f'%(mean(scores)))

In [ ]:
scores = cross_val_score(clf,x_train_scaled,y_train,scoring='precision',cv=cv,n_jobs=1)